<p id="notice"><%= notice %></p>

<p>
  <b>Vorname:</b>
  <%= @user.vorname %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Alter:</b>
  <%= @user.alter %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= @user.beschreibung %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
